[Unit]
Description=Muspler Bot
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
ExecStart=CMD
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
